
{% load staticfiles %}

{% load link_list %}
{% get_link_list "blogroll" as links, category %}
<html>
  <head>
      <title>Nomadic American Labs Django Blog</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}"> 
      <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  </head>
    <body>
        <div class="page-header">
      {% if user.is_authenticated %}
          <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
          <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
          <p class="top-menu">Hello {{ user.username }}<small>(<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)</small></p>
      {% else %}
          <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>	  
      {% endif %}
	  <h1><a href="/">Nomadic American Labs Django Blog</a></h1>
        </div>	 
        <div class="content container">
            <div class="row">
	        <div class="col-md-8">
	        {% block content %}
	        {% endblock %}
	        </div>  
	    </div>
	</div>
       {% if links %}{# if I don't have any links, I won't show anything #}
           <div class="module">
              <h3 class="title">{{ category.title }}</h3>{# Showing the name of the category #}
	      <ul>
	      {% for link in links %}{# Let's get link by link and create a href element #}
	         <li>
		   <a href="{{ link.ref }}" title="{{ link.description }}">{{ link.title }}</a>
		 </li>
              {% endfor %}
              </ul>
           </div>
        {% endif %}
    </body>
</html>
