
<html>
    <head>
      <title>Nomadic American Labs Django Blog</title>
    </head>
    <body>
      <div>
	<h1><a href="">Nomadic American Labs Django Blog</a></h1>
      </div>


      <div>

	<p>published: 14.01.2016, 20:36</p>
	<h2><a href="">My first post</a></h2>
	<p>So this is the first inaugural post, of my new Django based web app based upon the Django Girls tutorial.</p>

      </div>

      <div>

	<p>published: 14.01.2016, 20:38</p>
	<h2><a href="">My second post</a></h2>
	<p>I listend to alot of punk and street music formally known as a genre by the moniker of "Oi!".</p>

      </div>
    </body>
</html>
